* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #1F1F1F;
    padding: 1vw 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    background: white;
    padding: .6vw 1vw;
    border-radius: 5px;
    display: flex;
    gap: 1em;
}
.search-bar input{
    border: transparent;
    font-size: 1vw;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button{
    border: transparent;
    background: transparent;
    cursor: pointer;
}
.search-bar i{
    color: rgba(0, 0, 0, 0.6);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}
.temp{
    font-size: 4vw;
    margin-top: 2vw;
}
.city{
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: .5vw;
}
.details{
    display: flex;
    gap: 7em;
    margin-top: 4vw;
}
.humidity{
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: .6vw;
}
.wind{
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: .6vw;
}